.cont-header {
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.header-logo {
  nav {
    li {
      
      left: 20px;
      top: 20px;
      padding: 20px 20px;
      width: 100%;
      display: inline;
      padding-left: 15px;
      list-style: none;
      line-height: 60px;
      
    }
  }
}
